<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="100" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<button type="button" (click)="setTitle()">Set Title</button>
<hr>
<dx-button text="Press me" (onClick)="helloWorld()"></dx-button>
<dx-button text="Show / Hide Popup" (onClick)="showPopup()"></dx-button>
<hr>

<dx-popup
  dragEnabled="false"
  showTitle="false"
  showCloseButton="false"
  closeOnOutsideClick="true"
  [(visible)]="isPopupVisible">
    <div *dxTemplate="let data of 'content'">
      <dx-calendar
        id="calendar-container"
        [min]="minDateValue"
        [max]="maxDateValue"
        [disabled]="false"
        [(value)]="currentValue"
        (onValueChanged)="valueChange($event)" >
      </dx-calendar>
    </div>
</dx-popup>

<hr>

<button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Tooltip on left">Tooltip on left</button>

<hr>

<button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal">Open Modal</button>
<button id="calendar-button" type="button" class="btn btn-primary" (click)="showCalendarModal()">Open Modal Programatically</button>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <dx-calendar
        id="calendar-container"
        [min]="minDateValue"
        [max]="maxDateValue"
        [disabled]="false"
        [(value)]="currentValue"
        (onValueChanged)="valueChange($event)" >
      </dx-calendar>

      </div>
  </div>
</div>
