<form class="form-horizontal" (ngSubmit)="onSubmit()" [formGroup]="employeeForm">

  <div class="panel panel-primary">

    <div class="panel-heading">
      <h3 class="panel-title">Create Employee</h3>
    </div>

    <div class="panel-body">

      <div class="form-group" [ngClass]="{'has-error' : formErrors.fullName }">
        <label for="fullName" class="col-sm-2 control-label">Full Name</label>
        <div class="col-sm-8">
          <input id="fullName" (blur)="logValidationErrors()" formControlName="fullName" type="text" class="form-control">
          <span class="help-block" *ngIf="formErrors.fullName">
            {{formErrors.fullName}}
          </span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-xs-2 control-label">Contact Preference</label>
        <div class="col-xs-8">
          <label class="radio-inline">
            <input type="radio" value="email" formControlName="contactPreference">Email
          </label>
          <label class="radio-inline">
            <input type="radio" value="phone" formControlName="contactPreference">Phone
          </label>
        </div>
      </div>

      <div class="form-group" [ngClass]="{'has-error' : formErrors.email }">
        <label for="email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-8">
          <input id="email" (blur)="logValidationErrors()" formControlName="email" type="text" class="form-control">
          <span class="help-block" *ngIf="formErrors.email">
            {{formErrors.email}}
          </span>
        </div>
      </div>

      <div class="form-group" [ngClass]="{'has-error' : formErrors.phone }">
        <label for="phone" class="col-sm-2 control-label">Phone</label>
        <div class="col-sm-8">
          <input id="phone" (blur)="logValidationErrors()" formControlName="phone" type="text" class="form-control">
          <span class="help-block" *ngIf="formErrors.phone">
            {{formErrors.phone}}
          </span>
        </div>
      </div>

      <div class="well">

        <div formGroupName="skills">

          <div class="form-group" [ngClass]="{ 'has-error': formErrors.skillName }">
            <label class="col-sm-2 control-label" for="skillName">
              Skill
            </label>
            <div class="col-sm-4">
              <input type="text" (blur)="logValidationErrors()" placeholder="C#, Java, Angular etc." class="form-control" id="skillName" placeholder="Name"
                formControlName="skillName">
              <span class="help-block" *ngIf="formErrors.skillName">{{formErrors.skillName}}</span>
            </div>
          </div>

          <div class="form-group" [ngClass]="{ 'has-error': formErrors.experienceInYears }">
            <label class="col-sm-2 control-label" for="experienceInYears">
              Experience
            </label>
            <div class="col-sm-4">
              <input type="text" (blur)="logValidationErrors()" id="experienceInYears" class="form-control" placeholder="In Years" placeholder="Experience In Years"
                formControlName="experienceInYears">
              <span class="help-block" *ngIf="formErrors.experienceInYears">{{formErrors.experienceInYears}}</span>
            </div>
          </div>

          <div class="form-group" [ngClass]="{ 'has-error': formErrors.proficiency }">
            <label class="col-md-2 control-label">Proficiency</label>
            <div class="col-md-8">
              <label class="radio-inline">
                <input id="proficiency" type="radio" value="beginner" formControlName="proficiency" (blur)="logValidationErrors()">Beginner
              </label>
              <label class="radio-inline">
                <input id="proficiency" type="radio" value="intermediate" formControlName="proficiency" (blur)="logValidationErrors()">Intermediate
              </label>
              <label class="radio-inline">
                <input id="proficiency" type="radio" value="advanced" formControlName="proficiency" (blur)="logValidationErrors()">Advanced
              </label>
              <span class="help-block" *ngIf="formErrors.proficiency">
                {{formErrors.proficiency}}
              </span>
            </div>
          </div>

        </div>

      </div>

    </div>

    <div class="panel-footer">
      <div class="btn-toolbar">
        <button class="btn btn-primary" type="submit">Save</button>
        <button class="btn btn-primary" type="button" (click)="onLoadData()">Load Data</button>
        <button class="btn btn-primary" type="button" (click)="onLogKeyValuePairs()">Log Key Value Pairs</button>
      </div>
    </div>

  </div>

</form>

<table border="1">
  <tr>
    <th>FormGroup</th>
    <th>FormControl (fullName)</th>
  </tr>
  <tr>
    <td>
      touched: {{ employeeForm.touched }}
      <br> dirty: {{ employeeForm.dirty }}
      <br> valid: {{ employeeForm.valid }}
      <br> Form Values: {{ employeeForm.value | json }}
    </td>
    <td>
      touched: {{ employeeForm.get('fullName').touched }}
      <br> dirty: {{ employeeForm.get('fullName').dirty }}
      <br> valid: {{ employeeForm.get('fullName').valid }}
      <br> Form Values: {{ employeeForm.get('fullName').value | json }}
    </td>
  </tr>
</table>