<form (ngSubmit)="onSubmit(frm)" #frm="ngForm">
    <div class="row">
        <div class="col-sm-2">
            <label>Title:</label>
        </div>
        <div class="col-sm-6">
            <input type="text" class="form-control" appHoverButton FieldName="TestFieldName" [Type]="testTypeValue" autocomplete="off" spellcheck="false" name="title" [(ngModel)]="title" #tit="ngModel" required minlength="2">
        </div>
    </div>
    <br>
    <app-form-validation-messages [elem]="tit" minLength="2"></app-form-validation-messages>
    <!-- <div *ngIf="tit.invalid && (tit.dirty || tit.touched)">
        <div class="help-block" *ngIf="tit.errors.required">
            Field is required
        </div>
        <div class="help-block" *ngIf="tit.errors.minlength">
            Name must be at least 3 char long.
        </div>
    </div> -->
    Amount: <input type="text" autocomplete="off" name="amount" appMask ngModel>
    <br>
    <button type="submit">Submit</button>
</form>
