learning_react/15-setting-up-your-react-development-environment/node_modules/
learning_react/15-setting-up-your-react-development-environment/output/
angularjs/angular.js
angularjs/angular-animate.js
angularjs/ui-bootstrap-tpls-2.5.0.js
angularjs/node_modules/
jasmine/lib/
requirejs/require.js
