learning_react/15-setting-up-your-react-development-environment/node_modules/
learning_react/15-setting-up-your-react-development-environment/output/
angularjs/angular.js
angularjs/angular-animate.js
angularjs/ui-bootstrap-tpls-2.5.0.js
angularjs/node_modules/
jasmine/lib/
requirejs/require.js
requirejs/lib/
node_modules
requirejs/with-angularjs-mod/lib/
protractor/result.json
karma/lib/
karma/coverage/
karma/junit/
karma-requirejs-angularjs/junit/
karma-requirejs-angularjs/coverage/Chrome 64.0.3282 (Windows 10.0.0)/app/myService.js.html
karma-requirejs-angularjs/coverage/
karma-requirejs-angularjs/lib/
angularjs/angular-route.js
angular/angular2-essential-training/media/
angular/Learning Angular LiveLessons/**/*.js
*.png
*.map
bin/
obj/
.vs/
packages/
protractor/target/
