<html>
<head>
    <title>AngularJS Repeat Reverse Test</title>
    <script src="../angular.js"></script>
    <script src="app.js"></script>
</head>
<body ng-app="App">
    <div ng-controller="myController">
        1 + 2 = {{ 1 + 2 }}
        <hr>
        <div>no ordering</div><br>
        <div ng-repeat="item in fruits" >
            {{item.text}}
        </div>
        <hr>
        <div>ordering by 'text'</div><br>
        <div ng-repeat="item in fruits | orderBy:'text'">
            {{item.text}}
        </div>
        <hr>
        <div>reverse ordering by 'text'</div><br>
        <div ng-repeat="item in fruits | orderBy:'-text'">
            {{item.text}}
        </div>
    </div>
</body>
</html>