<div>
    <h2>fAkToR</h2>
    <div>
        <label for="apiKey">x-api-key:</label><input name="apiKey" type="text" size=50 ng-model="params.xApiKey">
    </div>
    <div>
        <label for="quizId">quiz Id:</label><input type="text" ng-model="params.quizId">
    </div>
    <div>
        <label for="progressId">progress Id:</label><input type="text" ng-model="params.progressId">
    </div>
    <div>
        <label for="sectionId">section Id:</label><input type="text" ng-model="params.sectionId">
    </div>
    <div>
        <lable>Parameters:</lable>
        <button  ng-click="onPersist('save')">Save</button>
        <button ng-click="onPersist('load')">Load</button>
    </div>
    <hr>
    Actions:
    <button ng-click="onGetQuestions()">Get Questions</button>
    <span ng-show="loadingQuestions">Loading...</span>
    <button ng-disabled="quiz.questions.length === 0" ng-click="onSend()">Send One</button>
    <button ng-disabled="quiz.questions.length === 0" ng-click="onBegin()">Begin</button>
    <button ng-click="onStop()">Stop</button>
    <span ng-show="loadingAnswers">Loading...</span>
    <hr>
    <h3>
        Questions: {{ solver.quiz.questions.length }},
        Passing: {{ solver.quiz.passingMark }},
        Score {{ solver.assessment.score }},
        Result: {{ solver.assessment.result }}</h3>
    <hr>
    <h3>Generations: {{ solver.generations.length }}</h3>
    <div ng-repeat="g in solver.generations">
        {{ $index }}.)
        score: {{ g.score + ' [' + g.result + ']' }},
        Q: {{ g.questionIndex }} A: {{ g.answerIndex }}
        {{ g.info }}
    </div>
    <hr>
    <div ng-repeat="q in solver.quiz.questions">
        <question q="q" index="{{ $index }}"></question>
    </div>
</div>