h1 {
    color: #2f4f4f;
    margin-bottom: 30px;
    /* font-family: serif; */
}

/* #page-title {
    font-family: sans-serif;
} */

#main-nav {
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
}

#main-nav li {
    display: inline-block;
}

#main-nav a {
    color: white;
    background-color: #13a4a4;
    padding: 15px;
    border-radius: 20px;
    text-decoration: none;
}

/* .title {
    font-family: monospace;
} */