<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>binding</title>
</head>
<body>
    <div id="growler">
        <h1 v-text="appName"></h1>
        <input type="text" v-model="query" placeholder="search">
        <div>Searching for: {{ query }}</div>
        <hr>
        <input type="checkbox" v-model="isPowerSyntaxEnabled">
        <div>isPowerSyntaxEnabled: {{ isPowerSyntaxEnabled }}</div>
        <hr>
        <label>
            <input type="checkbox" value="beers" v-model="searchIndexes">
            Beers
        </label>
        <br>
        <label>
            <input type="checkbox" value="breweries" v-model="searchIndexes">
            Breweries
        </label>
        <br>
        <small>
            selected: {{ searchIndexes }}
        </small>
        <hr>
        <label>
            <input type="radio" value="beers" v-model="searchIndex">
            Beers
        </label>
        <label>
            <input type="radio" value="breweries" v-model="searchIndex">
            Breweries
        </label>
        <small>
            selected: {{ searchIndex }}
        </small>
        <hr>
        <select v-model="selectedIndex">
            <option value="beers">Beers</option>
            <option value="breweries">Breweries</option>
            <option value="distillers">Distillers</option>
            <option value="pubs">Pubs</option>
        </select>
        <small>
                selected: {{ selectedIndex }}
        </small>
        <hr>
        <select v-model="selectedIndexes" multiple>
            <option value="beers">Beers</option>
            <option value="breweries">Breweries</option>
            <option value="distillers">Distillers</option>
            <option value="pubs">Pubs</option>
        </select>
        <small>
                selected: {{ selectedIndexes }}
        </small>
        <hr>
        <input type="text" v-model.trim="q">
        <div>Searching for q: [{{q}}]</div>
        <hr>
        <input type="text" v-model.number="num">
        <div>Searching for num: [{{num}}]</div>
        <hr>
        <input type="text" v-model.lazy="numlazy">
        <div>Searching for numlazy: [{{numlazy}}]</div>
        <hr>
        <input type="text" v-model.lazy.trim="numlazytrim">
        <div>Searching for numlazytrim: [{{numlazytrim}}]</div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#growler',
            data: {
                appName: 'Grawler',
                query: '',
                isPowerSyntaxEnabled: false,
                searchIndexes: [],
                searchIndex: 'beers',
                selectedIndex: 'pubs',
                selectedIndexes: [
                    'beers',
                    'pubs'
                ],
                q: '',
                num: '',
                numlazy: ''
            }
        });
    </script>
</body>
</html>