<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Event binding in Vue</title>
</head>
<body>
    <div id="growler">
        {{appName}}
        <hr>
        <form>
            <input type="search" v-model="query" placeholder="search...">
            <button type="button" v-on:click="executeSearch">Search</button>
            <button type="button" v-on:click="executeSearchEventParam">Search Event</button>
            <button type="button" v-on:click="executeSearchCustomParams('token', $event)">Search Custom Params</button>
            <button type="button" @click="executeSearchShorthand">Search Shorthand</button>
        </form>
        <!-- <div v-on:click.capture="grandparentClick">
            <div v-on:click.capture="parentClick">
                <button v-on:click.capture="executeSearchCapture" type="button">Search parents</button>
            </div>
        </div> -->
        <!-- <div v-on:click="grandparentClick">
            <div v-on:click.stop="parentClick">
                <button v-on:click="executeSearchCapture" type="button">Search parents</button>
            </div>
        </div> -->
        <div v-on:click="grandparentClick">
            <div v-on:click.self="parentClick">
                <button v-on:click="executeSearchCapture" type="button">Search parents</button>
            </div>
        </div>
        <!-- <div v-on:click.capture="grandparentClick">
            <div v-on:click="parentClick">
                <button v-on:click="executeSearchCapture" type="button">Search parents</button>
            </div>
        </div> -->
        <form action="#" method="GET">
            <input v-model="query" id="query" name="query">
            <button type="submit" v-on:click.prevent="executeSearchPrevent">Search prevent</button>
        </form>
        <input type="search"
            v-model.trim="query"
            v-on:keypress.enter.prevent="executeSearchShortCut"
            v-on:keyup.ctrl.enter="executeSearchInNewWindowShortCut"
            placeholder="please enter your query here"
        >
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#growler',
            data: {
                appName: 'Grawler',
                query: ''
            },
            methods: {
                executeSearch: function() {
                    alert(this.query);
                },
                executeSearchEventParam: function(event) {
                    alert('Query: ' + this.query + ' Button: ' + event.target.innerText);
                },
                executeSearchCustomParams: function(token, event) {
                    alert('Token: ' + token + 'Query: ' + this.query + ' Button: ' + event.target.innerText);
                },
                executeSearchShorthand: function() {
                    alert('short hand');
                },
                grandparentClick: function() {
                    alert('grandParentclick');
                },
                parentClick: function() {
                    alert('parentclick');
                },
                executeSearchCapture: function() {
                    alert('searchcaptureclick');
                },
                executeSearchPrevent: function() {
                    if (this.query) {
                        document.forms[1].submit();
                    } else {
                        alert('please enter a query');
                    }
                },
                executeSearchShortCut: function() {
                    alert('executeSearchShortCut');
                },
                executeSearchInNewWindowShortCut: function() {
                    alert('executeSearchInNewWindowShortCut');
                }
            }
        })
    </script>
</body>
</html>