<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rendering Lists</title>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
    <div id="growler">
        <h2 v-cloak>{{appName}}</h2>
        <p v-cloak>
            <button type="button" v-on:click="getBeers">Get Beers</button>
            <div v-if="beers.length === 0">No beers were returned</div>
            <div v-else-if="beers.length === 1">1 beer was returned</div>
            <div v-else>{{ beers.length }} beer were returned</div>
        </p>
        <hr>
        <div>
            <div v-show="beers.length === 0">
                No beers were returned
            </div>
            <div v-show="beers.length > 0">
                [Beers will be rendered here]
            </div>
        </div>
        <hr>
        <ul>
            <li v-for="page in pageCount">
                <a href="#" v-on:click="search(page);">{{ page }}</a>
            </li>
        </ul>
        <hr>
        <ul>
            <li v-for="v in currentUser">
                {{ v }}
            </li>
        </ul>
        <hr>
        <ul>
            <li v-for="(v, k) in currentUser">
                {{ k }} - {{ v }}
            </li>
        </ul>
        <hr>
        <ul>
            <li v-for="(v, k, i) in currentUser">
                {{ i }}: {{ k }} - {{ v }}
            </li>
        </ul>
        <hr>
        <ul>
           <li v-for="page in pages">
               <a v-bind:href="page.url">{{page.number}}</a>
           </li>
        </ul>
        <hr>
        <div>
            <label><strong>Max Alcohol by Volume(a.b.v)</strong></label>
            <input type="range" v-model="maxAbv" min="0" max="100">
            <small>{{maxAbv}}%</small>
        </div>
        <ul>
            <li><strong>Beers</strong></li>
            <li
                v-for="beer in beers"
                v-if="beer.abv < maxAbv">
                {{beer}}
            </li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#growler',
            data: {
                appName: 'growler',
                beers: [],
                pageCount: [2,4,5,6],
                currentUser: {
                    firstName: 'chad',
                    fingers: 10,
                    tags: ['male', 'scorpio'],
                    socialMedia: {
                        twitter: '@ecofic',
                        youtube: 'ecofic'
                    }
                },
                pages: [
                    { number: 1, url: '?page=1' },
                    { number: 2, url: '?page=2' },
                    { number: 3, url: '?page=3' }
                ],
                beers: [
                    {name: 'Tikibalang Barley Wine', abv: 9.6 },
                    {name: 'Hyote Chocolate Stout', abv: 7.4 },
                    {name: 'Pope Lick Porter', abv: 6.5 },
                    {name: 'Ahol Alle', abv: 5.4 },
                    {name: 'Heinecken', abv: 3.7 }
                ],
                maxAbv: 7.0
            },
            methods: {
                getBeers() {
                    let length = Math.floor(Math.random() * 6) + 0;
                    console.log(length);
                    this.beers = [];

                    for(let i = 0; i < length; ++i) {
                        this.beers.push(i);
                    }
                    console.log('beers length: ' + this.beers.length);
                },
                search: function(page) {
                    alert('page: ' + page);
                }
            }
        });
    </script>
</body>
</html>