Some: <input appOnlyNumber isOnlyNumbers="true" type="text" [(ngModel)]="age">
The age is: {{ age }}

<hr>

To Uppercase: <input type="text" appUpperCase [(ngModel)]="name">
Name is: {{ name }}


<hr>

<div *ngFor="let person of persons"
    class="person-row"
    appDraggable
    [draggableData]="{ item: person, type: 'persons' }"
    appDropTarget
    (outDropDraggable)="dropped($event)">
    {{ person.name + ' - ' + person.order }}
</div>

<hr>

<div *ngFor="let person of persons"
    class="person-row"
    appDraggable
    [draggableData]="{ item: person, type: 'flowers' }"
    appDropTarget
    (outDropDraggable)="droppedFlowers($event)">
    {{ person.name + ' - ' + person.order }}
</div>
