<div class="container">
    <div class="row">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" class="form-control" name="name" ngModel>
            </div>
            <div class="form-group">
                <label for="age">Age</label>
                <input type="text" id="age" class="form-control" name="age" ngModel>
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
</div>
