<div class="container">
    <div class="row">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <button type="button" class="btn btn-default" (click)="fillWithDefaults()">Fill With Defaults</button>
            <div class="form-group">
                <label for="name">Name</label> <button type="button" class="btn btn-default" (click)="fillName()" >Fill Name</button>
                <!-- <input type="text" appRainbow2 color0="yellow" color1="orange" color2="pink" id="name" class="form-control" name="name" ngModel required> -->
                <!-- <input type="text" appUppercase id="name" class="form-control" name="name" ngModel required> -->
                <input type="text" appTest id="name" class="form-control" name="name" ngModel required>
            </div>
            <div class="form-group">
                <label for="age">Age</label>
                <select name="age" class="form-control" (change)="onAgeChange($event.target.value)" [ngModel]="defaultAge" required>
                <!-- <select name="age" class="form-control" (ngModelChange)="onAgeChange($event)" [ngModel]="defaultAge" required> -->
                    <option value=""></option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="form-group">
                <label for="game">Game:</label>
                <input type="text" name="game" class="form-control" [(ngModel)]="game">
            </div>
            <div class="radio" *ngFor="let c of colors">
                <label>
                    <input type="radio" name="color" [value]="c" ngModel>{{ c }}
                </label>
            </div>
            <button [disabled]="!f.valid" class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
</div>
