<div id="myBurger" class="burger-modal">

  <div class="burger-modal-content">

    <ul class="btn-group dropdown-menu" style="list-style-type: none; padding: 0px; margin: 0px">
        <li *ngFor="let button of buttons" [hidden]="!button.show" ngClass="{'divider': button.action === 'divider', 'disabled': button.disabled}">
            <a *ngIf="button.action !== 'divider'" href="" [id]="button.idAttribute"  (click)="buttonClick(button.action)">{{button.text}}</a>
        </li>
    </ul>

  </div>

</div>