<form (ngSubmit)="onSubmit(frm)" #frm="ngForm">
  Email:<input type="radio" name="contactPreference" value="email" #contpref="ngModel" ngModel>
  Phone:<input type="radio" name="contactPreference" value="phone" #contpref="ngModel" ngModel>
  <br>
  <label>email: <span *ngIf="contpref.value === 'email'">*</span> </label>
  <input type="text" name="email" ngModel [required]="contpref.value === 'email'" minlength="3" maxlength="6">
  <br>
  <label>phone: <span *ngIf="contpref.value === 'phone'">*</span> </label>
  <input type="text" name="phone" ngModel [required]="contpref.value === 'phone'" minlength="3" maxlength="6">
  <br>
  <label>firstName: </label>
  <input name="firstName"  [(ngModel)]="firstName" maxlength="5">
  <br>
  <button type="submit">Submit</button>
  <button type="button" (click)="onSetFirstNameLongText()">Set First Name Long Text</button>
</form>
<hr>
email: {{ frm.controls.email?.errors | json }}
<br>
phone: {{ frm.controls.phone?.errors | json }}
<br>
firstName: {{ frm.controls.firstName?.errors | json }}
<hr>
{{ contpref.value }}


