<h1>DevExtreme Angular Test</h1>
<div>
  <dx-button text="Press me" (onClick)="sayHello()"></dx-button>
  <button class="btn btn-primary" (click)="onShow(template)">Show</button>
</div>
<hr>
<dx-data-grid
    id="gridContainer"
    [dataSource]="employees"
    [allowColumnReordering]="true"
    [allowColumnResizing]="true"
    [columnAutoWidth]="true">
    <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
    <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
    <dxi-column
        caption="Employee"
        [width]="230"
        [fixed]="true"
        [calculateCellValue]="calculateCellValue"
    ></dxi-column>
    <dxi-column dataField="BirthDate" dataType="date"></dxi-column>
    <dxi-column dataField="HireDate" dataType="date"></dxi-column>
    <dxi-column dataField="Position" alignment="right"></dxi-column>
    <dxi-column dataField="Address" [width]="230"></dxi-column>
    <dxi-column dataField="City"></dxi-column>
    <dxi-column dataField="State"></dxi-column>
    <dxi-column dataField="Zipcode" [visible]="false"></dxi-column>
    <dxi-column dataField="HomePhone" [visible]="false"></dxi-column>
    <dxi-column dataField="MobilePhone"></dxi-column>
    <dxi-column dataField="Skype"></dxi-column>
    <dxi-column dataField="Email"></dxi-column>
</dx-data-grid>

<ng-template #template>
  <div class="modal-header" appMovable>
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <dx-data-grid
      id="gridContainer2"
      [dataSource]="employees"
      [allowColumnReordering]="true"
      [allowColumnResizing]="true"
      [columnAutoWidth]="true">
      <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
      <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
      <dxi-column
          caption="Employee"
          [width]="230"
          [fixed]="true"
          [calculateCellValue]="calculateCellValue"
      ></dxi-column>
      <dxi-column dataField="BirthDate" dataType="date"></dxi-column>
      <dxi-column dataField="HireDate" dataType="date"></dxi-column>
      <dxi-column dataField="Position" alignment="right"></dxi-column>
      <dxi-column dataField="Address" [width]="230"></dxi-column>
      <dxi-column dataField="City"></dxi-column>
      <dxi-column dataField="State"></dxi-column>
      <dxi-column dataField="Zipcode" [visible]="false"></dxi-column>
      <dxi-column dataField="HomePhone" [visible]="false"></dxi-column>
      <dxi-column dataField="MobilePhone"></dxi-column>
      <dxi-column dataField="Skype"></dxi-column>
      <dxi-column dataField="Email"></dxi-column>
    </dx-data-grid>

  </div>
</ng-template>
